 *{
     padding: auto;
     margin: auto;
     text-align: center;
 }
 #container{
     margin-top: 50px;
     width: 400px;
     height: 450px;
     border:none;
     border-radius: 10px;
     background-color: rgb(235, 176, 235);
     box-shadow: 0 0 15px 8px rgb(90, 73, 30);
 }
 h1{
     margin: 20px;
 }
 .screen{
    border: none;
    background-color: rgb(128, 223, 194);
    color: rgb(36, 80, 11);
    font-size: larger;
    height: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
 }
 .clear{
    border: none;
    border-radius: 16px;
    background-color: rgb(243, 50, 16);
    width: 80px;
    height: 40px;
    color: rgb(235, 215, 215);
    font-size: large;
    margin-bottom: 20px;
 }
 .clear:hover{
     box-shadow: 0 0 10px 2px black;
     color: black;
     border-radius: 15px;
     cursor: pointer;
 }
 .button{
     width: 100px;
     height: 50px;
     font-size: larger;
     font-weight: 600;
     padding: 10px;
     color: rgb(255, 255, 255);
     background-color: black;
     border: none;
     border-radius: 15px;
     margin: 1px;
 }
 .button:hover{
     /* color: rgb(12, 12, 12);
     background-color: rgb(255, 247, 247); */
     box-shadow: 0 0 10px 2px rgb(177, 212, 81);
     border: 1px solid greenyellow;
     border-radius: 20px;
     cursor: pointer;
 }
 .operator{
     width: 50px;
     height: 40px;
     color: black;
     background-color: rgb(249, 255, 242);
     border: none;
     border-radius: 10px;
     font-size: 25px;
 }
 .operator:hover{
     color: rgb(8, 8, 8);
     background-color: rgb(219, 138, 138);
     box-shadow: 0 0 10px 2px black;
     border-radius: 8px;
     border: 1px solid greenyellow;
     cursor: pointer;
 }
 .equal{
     width: 150px;
     height: 50px;
     font-size: x-large;
     margin: 15px;
     color: white;
     background-color: chartreuse;
     border-radius: 20px;
     border: 1px solid rgb(236, 113, 113);
 }
 .equal:hover{
    color: white;
     background-color: rgb(29, 173, 72);
     box-shadow: 0 0 10px 2px black;
     border-radius: 28px;
     border: 1px solid greenyellow;
     cursor: pointer;
 }